*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background-color: hsl(30, 5%, 20%);
  color: hsl(0, 0%, 95%);
}

.title {
  display: flex;
  justify-content: center;
  font-size: 4rem;
  padding: 2rem;
}

.container {
  display: flex;
  justify-content: center;
  width: 80rem;
}

#library {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
  justify-content: center;
}

.card {
  display: flex;
  flex-direction: column;
  width: 12rem;
  background-color: hsl(30, 5%, 15%);
  padding: 1rem;
}
