*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background-color: hsl(30, 5%, 20%);
  color: hsl(0, 0%, 95%);
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin: 4rem 30%;
  padding: 2rem;
  background-color: hsl(30, 5%, 15%);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.title {
  display: flex;
  justify-content: center;
  font-size: 3rem;
}

#open,
button {
  padding: 1rem 2rem;
  background-color: hsl(20, 0%, 35%);
  color: white;
  border: 4px solid hsl(30, 5%, 20%);
  cursor: pointer;
}

#open:hover,
button:hover {
  background-color: hsl(20, 0%, 40%);
}

#open:active,
button:active {
  background-color: hsl(20, 0%, 45%);
}

.container {
  display: flex;
  justify-content: center;
  padding-bottom: 4rem;
}

#library {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
  justify-content: center;
}

.card {
  display: flex;
  flex-direction: column;
  width: 16rem;
  background-color: hsl(30, 5%, 15%);
  padding: 2rem;
  gap: 0.8em;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.popup {
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: all 0.3 ease-in-out;
  z-index: -1;
  backdrop-filter: blur(5px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.popup.open {
  opacity: 1;
  z-index: 999;
}

#bookForm {
  display: flex;
  flex-direction: column;
  background-color: hsl(30, 5%, 15%);
  padding: 2rem;
  gap: 1rem;
  font-size: 1.2rem;
  border-radius: 20px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

input {
  padding: 0.3rem;
}

input[type="checkbox"] {
  width: 1em;
  height: 1em;
  border: 2px solid hsl(0, 0%, 80%);
  border-radius: 3px;
  cursor: pointer;
}

.check {
  display: flex;
  align-items: center;
  gap: 5px;
}

#close {
  background-color: hsl(0, 60%, 25%);
}

#close:hover {
  background-color: hsl(0, 60%, 30%);
}

#close:active {
  background-color: hsl(0, 60%, 35%);
}

.green {
  background-color: hsl(135, 70%, 25%);
}

.green:hover {
  background-color: hsl(135, 70%, 30%);
}

.green:active {
  background-color: hsl(135, 70%, 35%);
}

.buttons {
  display: grid;
  grid-template-columns: 50% 50%;
  text-align: center;
  margin-top: 1rem;
  gap: 0.8rem;
  justify-content: center;
}

.buttons button {
  padding: 1rem 0;
}

#title {
  font-size: 1.6rem;
  font-style: italic;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  color: white;
  text-align: center;
  padding: 10px;
  background-color: hsl(30, 5%, 15%);
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: hsl(195, 100%, 35%);
}
